@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-poppins);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

@layer utilities {
  .animate-neon {
    animation: neonGlow 2s infinite ease-in-out;
  }

  @keyframes neonGlow {
    0%, 100% {
      color: #facc15; /* Amarelo original (text-yellow-300) */
      text-shadow: none;
    }
    50% {
      color: #ff004f; /* Vermelho neon */
      text-shadow: 0 0 3px #ff004f, 0 0 6px #ff004f; /* Reduzido o borrão */
    }
  }
}